body {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #fff;
  margin: 1.2rem;
}

.navbar-brand img {
  width: 235px;
}

.nav-link {
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
}

.bi-btn {
  font-size: 2rem;
}

.main-container {
  width: 100%;
}

.info {
  background-image: url("../img/atlanta_made_sign_info.webp");
  background-attachment: fixed;
  height: 25rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info img {
  width: 110px;
}
.info h1 {
  color: #000;
  margin: 1rem;
  font-size: 2.3rem;
}
.info p {
  width: 60%;
  font-size: 2.2rem;
  font-weight: 600;
}

.btn {
  background-color: #ea6433;
  color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 1.9rem;
}
.btn:hover {
  background-color: navajowhite;
}

.ad-text {
  padding: 5rem 0 2rem 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.ad-text p {
  width: 70%;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
}

.ad-var {
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 2.5rem;
}

.services-var {
  display: flex;
  padding: 3rem 2rem;
  flex-direction: column;
  align-items: center;
}
.services-var p {
  text-align: center;
  font-size: 1rem;
}

.var-icon {
  font-size: 3.5rem;
  color: #3f3194;
  text-shadow: 0px 0px 2px black;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  margin: 1.4rem;
  text-align: center;
}

.persuade-atributes {
  background-image: url(../img/atlanta_made_sign_orange.webp);
  background-attachment: fixed;
  background-position-x: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.persuade-atributes p {
  background: rgba(0, 0, 0, 0.26);
  width: 50%;
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  padding: 2rem;
}
.persuade-atributes a {
  font-size: 1.2rem;
  color: aqua;
  padding-bottom: 3rem;
}

h3 {
  width: 50%;
  background: rgba(0, 0, 0, 0.26);
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5rem;
}

.portfolio {
  background-image: url(../img/lines-h2-bg.webp);
}

h4 {
  font-size: 2rem;
  text-align: center;
  padding: 5rem;
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  margin: 1.2rem;
}
.card img {
  height: 280px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body p {
  font-size: 0.9rem;
  text-align: center;
}

h5 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.review {
  width: 100%;
}

.review-body {
  padding: 3rem;
}

h6 {
  font-size: 1.45rem;
  font-weight: 600;
}

.bi-avatar {
  font-size: 3rem;
  padding-right: 0.5rem;
}

.customer-name {
  margin: 1rem 1rem 1rem 0;
}
.customer-name span {
  font-size: 1.2rem;
  font-style: oblique;
}

footer {
  background-color: #364577;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  text-align: center;
}
footer p {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.bi {
  font-size: 2rem;
  padding: 2rem;
  margin-top: 2rem;
}

.social-media a {
  text-decoration: none;
  color: #fff;
}

.contact-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 3rem;
}

.contact-container {
  margin: 3rem;
}

.contact-form {
  background-color: lightyellow;
  padding: 1rem;
}

.sub-btn {
  background-color: #ea6433;
  color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 1.9rem;
  border: none;
  float: right;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 2rem;
}
.contact-details ul {
  padding-bottom: 2rem;
}

.avaliable-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1.4rem;
}

.work-hours li {
  font-size: 1.1rem;
  margin: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
